[user]
	name = Chongyi Zheng
	email = harry@harryzheng.com

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[init]
	defaultBranch = main

[pull]
	rebase = true

[credential]
	helper = store
