[user]
	name = Chongyi Zheng
	email = git@zcy.dev
	signingkey = <signingkey>

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[core]
	excludesfile = ~/.gitignore_global
	quotePath = false
	commitGraph = true

[credential]
	helper = osxkeychain

[init]
	defaultBranch = main

[pull]
	rebase = true

[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for

[gc]
	writeCommitGraph = true
