name: Test

on:
  push:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  detect-files:
    name: Detect Changed Files
    runs-on: ubuntu-latest
    outputs:
      macos_any_changed: ${{ steps.changed-files.outputs.macos_any_changed }}
      linux_any_changed: ${{ steps.changed-files.outputs.linux_any_changed }}
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files_yaml: |
            macos:
              - '**'
              - '!linux'
              - '!script/**/**_linux.sh'
              - '!dotd'
            linux:
              - '**'
              - '!macos'
              - '!script/**/**_macos.sh'
              - '!dotd'

      - name: Print outputs
        run: |
          echo "macos_any_changed: ${{ steps.changed-files.outputs.macos_any_changed }}"
          echo "linux_any_changed: ${{ steps.changed-files.outputs.linux_any_changed }}"

  setup:
    name: Setup
    needs: detect-files
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15, macos-26, ubuntu-latest]
        dev: [true, false]
        exclude:
          - os: macos-15
            dev: false
          - os: macos-26
            dev: false

    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Clean up installed software on macOS
        if: startsWith(matrix.os, 'macos') && needs.detect-files.outputs.macos_any_changed == 'true'
        run: |
          # shellcheck disable=SC2046
          brew uninstall --ignore-dependencies --force $(brew list --formula)
          # shellcheck disable=SC2046
          brew uninstall --cask --force $(brew list --cask) 
          brew cleanup --prune-prefix
          sudo /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall.sh)"
          rm -rf /Users/runner/.gitconfig /Users/runner/.gitignore_global

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install using Makefile on macOS
        if: startsWith(matrix.os, 'macos') && needs.detect-files.outputs.macos_any_changed == 'true'
        run: make setup
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests on macOS
        if: startsWith(matrix.os, 'macos') && needs.detect-files.outputs.macos_any_changed == 'true'
        run: |
          source ~/.zshrc
          make test
        shell: zsh {0}

      - name: Install using Makefile on Linux
        if: startsWith(matrix.os, 'ubuntu') && needs.detect-files.outputs.linux_any_changed == 'true'
        run: |
          if [[ "${{ matrix.dev }}" == true ]]; then
            export IS_DEV_MACHINE=true
          fi
          make setup
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests on Linux
        if: startsWith(matrix.os, 'ubuntu') && needs.detect-files.outputs.linux_any_changed == 'true'
        run: |
          if [[ "${{ matrix.dev }}" == true ]]; then
            export IS_DEV_MACHINE=true
          fi
          source ~/.zshrc
          make test
        shell: zsh {0}

  go:
    name: Go Test
    permissions:
      contents: read
      id-token: write
    uses: harryzcy/github-actions/.github/workflows/go.yml@main
    with:
      working-directory: dotd
      latest: 1
